.idea/
.vs/
.vscode/

shell/target
shell/Cargo.lock

node_modules/
package-lock.json

.eslintcache

ci/output.txt
ci/*.webm
ci/images.txt
ci/images
ci/package-lock.json

dist/

# Robot Framework output files
tests/**/*.html
tests/**/*.xml
tests/**/*.png
