.idea/
.vs/
.vscode/

wash/target
tests/syscalls/target

rust/*.tar.bz2
rust/*.zip
rust/*.svg
rust/build/

node_modules/

.eslintcache

ci/output.txt
ci/*.webm
ci/images.txt
ci/images
ci/package-lock.json

dist/

# Robot Framework output files
tests/**/*.html
tests/**/*.xml
tests/**/*.png
