name: release jswasi

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build jswasi
    uses: ./.github/workflows/build.yml
  release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Download jswasi artifact
        uses: actions/download-artifact@v3
        with:
          name: jswasi
          path: ./dist
      - name: Release
        uses: marvinpinto/action-automatic-releases@919008cf3f741b179569b7a6fb4d8860689ab7f0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelase: false
          files: |
            ./dist/jswasi.js
